
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #342239;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%vw;
    height: 700px;
}

ul{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-family: 'Poppins', cursive;
    font-weight: lighter;
    font-size: 30px;
  }

  li a:hover{
    color: #342239;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: white;

  }

.navbar{
    position: relative;
    display: inline;
    position: fixed;
    top: 10px;
    left: 150px;
    animation-delay: 0;
    z-index: 0;
}

svg{
    position: absolute;
    left: 0;
    z-index: -2;
    stroke-width: 1px;
}

#bird-container{
    position: absolute;
    width: 900px;
    height: 100px;
    left: 0px;
    top: 50px; 
    opacity: 1;
}

#birds{
    position: relative;
    left: 300px;
    top: 0px;
    width: 200px;
    content: url("assets/images/birdsflying.gif");
    opacity: 0;
    z-index: -1;
    animation-play-state: paused;
}

#bird-container:hover > #birds{
    animation: moveleft 4s forwards, linear;
    opacity: 1;
}

 .st0, .st1, .st2, .st3, .st4, .st5, .st6, .st7, .st8, .st9, .st10, .st11, .st12, .st13, .st14, .st15, .st16
 {
    stroke: #ffffff;
    fill: #ffffff;
    stroke-width: 1px;
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    opacity: 10;
    animation: draw 10s ease-in forwards;
}

.i, .id1, .id2, .id3, .id4, .id5, .id6, .id7, .id8, .id9, .id10, .id11, .id12
{
   stroke: #ffffff;
   fill: #ffffff;
   stroke-width: .10px;
   stroke-dasharray: 5000;
   stroke-dashoffset: 5000;
   animation: draw 8s ease-in 8s forwards;
   opacity: 0;
}

.id13, .id14, .id15, .id16, .id17, .id18, .id19
{
   stroke: #ffffff;
   fill: #ffffff;
   stroke-width: .5px;
   stroke-dasharray: 5000;
   stroke-dashoffset: 5000;
   opacity: 0;
   animation: draw-welcome 10s ease-in;
   animation-fill-mode: none;
}

@keyframes moveleft {
    0%{
        left: 800px;
        opacity: 1;
    }
    100%{
        opacity: 1;
        left: -200px;
    }
}
@keyframes draw {
    0% {
        opacity: 1;
        stroke-width: 1px;
        fill: none;
        stroke-dashoffset: 5000;
        }
    30% {
        opacity: 1;
        stroke-width: 1px;
        fill: none;
        stroke-dashoffset: 5000;
    }

    90%{
        opacity: 1;
        stroke-width: 1px;
        fill: rgba(255, 255, 255, 0);
    }

    100% {
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 1px;
    }
}

@keyframes draw-welcome {
    0% {
        stroke-width: 1px;
        fill: none;
        opacity: 1;
        stroke-dashoffset: 5000;
    }
    90%{
        opacity: 1;
        stroke-dashoffset: 0;
        fill: white;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 0;
        fill: white;
        stroke-width: 1px;
    }
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: goldenrod;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #FF6F52;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #7C71B1;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #342239;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }

    /* #swirl {
        background-image: url("assets/images/swirl.svg");
    } */

    .swirl {
        position: absolute;
        top: 340px;
        left: 610px;
        width: 900px;
        height: 900px;
        content: url("assets/images/Untitled-1.svg");
        stroke-width: 2px;
    }

    .about-wrapper {

        display: flex;
        flex-direction: column;
        height: 100%vh;
        width: 1440px;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    #about {
        position: relative;
        top: 100px;
        height: 150px;
        width: 100%vw;
        padding-top: 50px;
    }

    #title {
        font-family: 'Poppins', cursive;
        font-size: 100px;
        color: #7C71B1;
        padding-left: 50px;
    }

    #writeup {
        padding-left: 50px;
        padding-top: 25px;
        color: white;
        font-family: 'Poppins';
        font-size: 20px;
    }

    #line1 {
        position: relative;
        height: 8px;
        width: 500px;
        left: 50px;
        top: -20px;
        background-color: #7C71B1;
    }


    #line2 {
        position: relative;
        height: 8px;
        width: 500px;
        left: 50px;
        top: -10px;
        background-color: #FF6F52;
    }
    #images img{
        position: relative;
        top: 120px;
        margin-left: 300px;
        margin-right: 50px;
        width:300px;
        height: auto;
        border: 10px solid #7C71B1;

    }

    #contact {
        position: relative;
        top: 275px;
        height: 150px;
        width: 100%vw;
        padding-top: 50px;;
    }

    .contact-wrapper #title {
        padding-top: 100px;
        padding-bottom: 10px;
        padding-left: 0px;
    }

    #text {
        position: relative;
        font-family: Poppins;
        font-size: 20px;
        color: white;
        padding-left: 400px;
    }

    #phone {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 30px;
        padding-bottom: 500px;

    }

    #email {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 30px;
    }

    .contact-wrapper #line1, .contact-wrapper #line2 {
        left: 10px;
        width: 575px;

    }

    .contact-wrapper #writeup {
        padding-left: 10px;
        padding-right: 500px;
    }


